lightText = rgba(0,0,0,0.87)    // 普通文字
lightSecondaryText = rgba(0,0,0,0.54)   // 减淡文字
lightDisabledText = rgba(0,0,0,0.26)    // 禁用状态
lightHintText = rgba(0,0,0,0.26)    // 提示文字
lightDiviiders = rgba(0,0,0,0.12)   //分割线
darkText = rgba(0,0,0,0.87)
darkSecondaryText = rgba(0,0,0,0.54)
darkDisabledText = rgba(0,0,0,0.26)
darkHintText = rgba(0,0,0,0.26)
darkDiviiders = rgba(0,0,0,0.12)